<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>FiltroSessaoUsuario</filter-name>
        <filter-class>br.edu.utfpr.recipes.controller.FiltroSessaoUsuario</filter-class>
    </filter>
    <filter>
        <filter-name>FiltroAdmin</filter-name>
        <filter-class>br.edu.utfpr.recipes.controller.FiltroAdmin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>FiltroAdmin</filter-name>
        <url-pattern>/admin/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>FiltroSessaoUsuario</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>CadastroReceitasServlet</servlet-name>
        <servlet-class>br.edu.utfpr.recipes.controller.CadastroReceitasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageUpload</servlet-name>
        <servlet-class>br.edu.utfpr.recipes.controller.ImageUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizacaoReceitasServlet</servlet-name>
        <servlet-class>br.edu.utfpr.recipes.controller.VisualizacaoReceitasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaReceitasServlet</servlet-name>
        <servlet-class>br.edu.utfpr.recipes.controller.BuscaReceitasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExibeImagem</servlet-name>
        <servlet-class>br.edu.utfpr.recipes.controller.ExibeImagem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaIngredienteServlet</servlet-name>
        <servlet-class>br.edu.utfpr.recipes.controller.BuscaIngredienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastroDeUsuariosServlet</servlet-name>
        <servlet-class>br.edu.utfpr.recipes.controller.CadastroDeUsuariosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginDeUsuariosServlet</servlet-name>
        <servlet-class>br.edu.utfpr.recipes.controller.LoginDeUsuariosServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AprovacaoIngredienteServlet</servlet-name>
        <servlet-class>br.edu.utfpr.recipes.controller.AprovacaoIngredienteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirReceitaServlet</servlet-name>
        <servlet-class>br.edu.utfpr.recipes.controller.ExcluirReceitaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastroReceitasServlet</servlet-name>
        <url-pattern>/CadastroReceitas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageUpload</servlet-name>
        <url-pattern>/ImageUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizacaoReceitasServlet</servlet-name>
        <url-pattern>/VisualizacaoReceitas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaReceitasServlet</servlet-name>
        <url-pattern>/BuscaReceitasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExibeImagem</servlet-name>
        <url-pattern>/ExibeImagem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaIngredienteServlet</servlet-name>
        <url-pattern>/BuscaIngrediente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastroDeUsuariosServlet</servlet-name>
        <url-pattern>/CadastroDeUsuariosServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginDeUsuariosServlet</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AprovacaoIngredienteServlet</servlet-name>
        <url-pattern>/admin/AprovacaoIngredienteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirReceitaServlet</servlet-name>
        <url-pattern>/admin/ExcluirReceitaServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
