<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CadastroReceitasServlet</servlet-name>
        <servlet-class>br.edu.utfpr.recipes.servlets.CadastroReceitasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ImageUpload</servlet-name>
        <servlet-class>br.edu.utfpr.recipes.servlets.ImageUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VisualizacaoReceitasServlet</servlet-name>
        <servlet-class>br.edu.utfpr.recipes.servlets.VisualizacaoReceitasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuscaReceitasServlet</servlet-name>
        <servlet-class>br.edu.utfpr.recipes.servlets.BuscaReceitasServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExibeImagem</servlet-name>
        <servlet-class>br.edu.utfpr.recipes.servlets.ExibeImagem</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CadastroReceitasServlet</servlet-name>
        <url-pattern>/CadastroReceitas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageUpload</servlet-name>
        <url-pattern>/ImageUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VisualizacaoReceitasServlet</servlet-name>
        <url-pattern>/VisualizacaoReceitas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuscaReceitasServlet</servlet-name>
        <url-pattern>/BuscaReceitasServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExibeImagem</servlet-name>
        <url-pattern>/ExibeImagem</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
